// Variables

$cols: 12;
$gutter: 20px;

// Devices
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

// Box-sizing
*,
*::after,
*::before {
  box-sizing: border-box;
}

// Mixin media-queries

@mixin device($size) {
  @if $size == large {
    @media screen and (min-width: $l-device) {
      @content;
    }
  } @else if $size == medium {
    @media screen and (min-width: $m-device) and (max-width: ($l-device - 1)) {
      @content;
    }
  } @else if $size == small {
    @media screen and (max-width: ($m-device - 1)) {
      @content;
    }
  }
}

// Function grid

@function grid($col, $offset: false) {
  $width: calc(($col / $cols) * 100) + "%";
  $result: calc(#{$width} - #{$gutter});

  @if $offset == offset {
    $gutter: calc($gutter / 2);
    $result: calc(#{$result} + #{$gutter});
  }

  @return $result;
}

// Generate grid class

@for $i from 1 through $cols {
  .grid-#{$i} {
    width: grid($i);
  }
}

// Mixin grid structure

@mixin grid-structure {
  float: left;
  min-height: 1px;
  margin-left: calc($gutter / 2);
  margin-right: calc($gutter / 2);

  @include device(small) {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

[classˆ="grid-"] {
  @include grid-structure;
}

// Generate offset class

@for $i from 1 through $cols {
  .offset-#{$i} {
    margin-left: grid($i, offset);
    @extend offset !optional;
  }
}

@include device(small) {
  %offset {
    margin-left: 0px;
  }
}

// Mixin clearfix

@mixin clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: $l-device;
  margin: 0px auto;
  position: relative;
  @include device(medium) {
    max-width: $m-device;
  }
  @include device(small) {
    max-width: $s-device;
    padding-left: 10px;
    padding-right: 10px;
  }
  @include clearfix;
}

.container {
  @include container;
}

div {
  background: rgba(0, 0, 0, 0.4);
  min-height: 50px !important;
  margin-bottom: 20px;
}

@mixin row {
  position: relative;
  margin-left: calc($gutter/2);
  margin-right: calc($gutter/2);
  @include device(small) {
    margin-left: 0px;
    margin-right: 0px;
  }
  @include clearfix;
}

.row {
  @include row;
}
